header{
    .container{
      
       @include cont;       
       div{
            display: flex;
            align-items: center;
    
            h3{
                justify-content: space-between;
                margin-left: 25px;
                font-size: 18px;
            }
       }
       img{
            display: flex;
            align-items: center;
            margin-left: 30px;
       }
    }
}
.s-1{
    margin-top: 60px;
     .container {
    @include cont;
    h2{
        font-size: 25px;
    }
    .box1{
        display: flex;
        justify-content: space-between;
        margin-top: 27px;
    }
    .box2{
        display: flex;
        justify-content: space-between;
        .txt1{
            @include mytxt;
        }
        .txt2{
            @include mytxt;
         
        }
        .txt3{
            @include mytxt;
          
        }
    }
     }
    
}
.s-2{
    margin-top: 50px;
   
    .container{
        @include cont;
        display: flex;
        h2{
            font-size: 25px;
        
          
        }
    
    }
}
.container{
    .s-2d{
    
        .s-2i1{
        
            margin-top: 20px;
          margin-bottom: 20px;
         
        }
       }
       .s-2d2{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      .img1{
margin-top: 20px;
      }
      .img2 {
margin-top: 20px
      }
      .img3  {
margin-top: 20px;
      }    
       
       }
}
footer{
   width: 100%;
   height: 201px;
   background-color:rgb(22, 22, 81);
  
}